*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
  }

h1 {
    font-family: 'Nerko One', cursive;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom: 1%;
}

h2{
    background-color: hsl(300, 80%, 92%);
    font-family: 'Sniglet', cursive;
    font-size: 1.4rem;
    border: 0;
    padding: 1.25rem;
}

label ::placeholder, #message {
    font-family: 'Sniglet', cursive;
    font-size: 0,9rem;
    display: block;
    width: 100%;
}

.container-all{
    background-color: hsl(300, 80%, 94%);
    padding-top: 2rem;
}

.container-father-phrase{
    display: flex;
    justify-content: center;
}

.container-phrase {
    flex: (1 1 auto);
    border: 0 solid hsl(307, 20%, 65%);
    border-radius: 3%;
    text-align: center;
    height: 2.5rem;
    width: 40rem;
}

.container-form {
    font-family: 'Sniglet', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem ;
}

.container-data {
    padding: 1em;
    margin: 2em;
    flex: (1 1 auto);
    border: 0.05em solid hsl(307, 20%, 65%);
    background-color: hsl(167, 19%, 86%);
    
}

.container-form-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.75rem;
    margin: 2em;
    flex: (1 1 auto);
    border: 0.05em solid hsl(307, 20%, 65%);
    background-color: hsl(167, 19%, 86%);
    
}

.data input, .data-form input, #whereDidItHappen, .container-textarea textarea {
    margin-bottom: 1.25rem;
    margin-top: 0.25rem;
    width: 100%;
    padding: 0.625rem;
    border: none;
}

.container-time-of-day, .container-checkbox{
    margin-top: 0.125rem;
}

input:focus, #whereDidItHappen:focus, textarea:focus  {
    border: 0.125rem solid hsl(177, 54%, 63%);
}

.data {
    padding: 2%;
    background-color: hsl(167, 19%, 86%);
}

.data-form, .checkbox, .container-time, .container-emotion, .container-textarea {
    padding: 0.5rem;
}

.data-form {
    display: inline-block;
    
    
}

#scaleDay, #whereDidItHappen {
    width: 100%;
    margin-bottom: 0.25rem;
}


.container-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

textarea {
    margin-bottom: 125rem;
    width: 100%;
    resize: vertical;
    max-height: 15.625rem;
    min-height: 6.25rem;
}

input[type="submit"] {
    font-family: 'Nerko One', cursive;
    margin-bottom: 0;
    background: hsl(151, 56%, 52%);
    color: hsl(272, 66%, 22%);
    border: none;
    width: 25.625rem;
    height: 2.563rem;
    font-size: 1.063rem;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: hsl(161, 44%, 62%);
}

input[type="submit"]:active {
    background-color: hsl(161, 29%, 44%);
    color: hsl(272, 66%, 22%);
    border: 0.125rem solid hsl(160, 21%, 11%);
}

.container-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: hsla(167, 40%, 58%, 0.11);
}

footer .container-footer {
    display: flex; 
    justify-content: center; 
    align-items: center ;
}

footer p {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    color: #666;
    margin-top: 8px; 
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
}

